.footer {
  margin-top: auto;
  padding: 40px 0 45px;
  color: $footerText;
  background-color: $dark;


  @include adaptiv-value('font-size', 15, 14, 1);


  @media screen and (max-width: $small) {
    padding: 70px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    margin-bottom: 40px;

    @media screen and (max-width: $small) {
      display: block;
      text-align: center;
    }
  }

  &__logo-desktop {
    @media screen and (max-width: $medium) {
      display: none;
    }
  }

  &__logo-mob {
    display: none;

    @media screen and (max-width: $small) {
      display: block;
      margin-bottom: 30px;
    }
  }

  &__col {}

  &__actions-list {
    @media screen and (max-width: $small) {
      gap: 15px;
    }
  }

  &__conf {
    font-size: 12px;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
    line-height: 2;

    a {
      transition: color 0.3s;

      &:hover {
        color: $gold;
      }
    }

  }

  .actions-list__item_socials {
    @media screen and (max-width: $small) {
      margin: 0 auto;
    }
  }
}

.col {

  &__title {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__list {
    li {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;

        @media screen and (max-width: $small) {
          padding-bottom: 35px;
        }
      }
    }

    &.bold {
      @media screen and (max-width: $small) {
        font-weight: 400;
      }
    }
  }

  &__title,
  a {
    transition: color 0.3s;

    &:hover {
      color: $gold;
    }
  }
}

.col__spoller._init {
  .col__title {
    &:after {
      content: url("../img/common/down-arrow.svg");
      position: relative;
      top: 2px;
      display: inline-block;
      margin: 0 0 0 5px;
      transition: transform 0.3s;
      line-height: 0;
    }
  }

  .col__title._active {
    &:after {
      transform: scaleY(-1);
    }
  }
}