html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: "Neue Machina", serif;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: $white;
  background-color: $bgr;
  @include adaptiv-value('font-size', 15, 14, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.page-section {
  @include adaptiv-value('padding-top', 111, 70, 1);
  @include adaptiv-value('padding-bottom', 111, 70, 1);
}

.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;

  @media screen and (max-width: $xsmall) {
    padding: 0 15px;
  }
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

@keyframes rotation {
  to {
    transform: rotate(360deg)
  }
}

.white-on-mob {
  color: $white;

  @media screen and (max-width: $xsmall) {
    background-color: $white;
    color: $dark;
  }
}

.dark-on-mob {
  color: $dark;

  @media screen and (max-width: $xsmall) {
    background-color: $bgr;
    color: $white;
  }
}

.with-popup {
  position: relative;
  z-index: 1;

  &:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    background-image: url("../img/common/icon-zoom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    transition-delay: 0.2s;
  }

  &:hover {
    &:after {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.3s;
      transition-delay: 0.2s;
    }
  }
}

.bold {
  font-weight: 700;
}