html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: "Neue Machina", serif;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: $white;
  background-color: $bgr;
  @include adaptiv-value('font-size', 15, 14, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-section {
  @include adaptiv-value('padding-top', 111, 70, 1);
  @include adaptiv-value('padding-bottom', 111, 70, 1);

  &.onlytop {
    padding-bottom: 0;
  }

  &.onlybottom {
    padding-top: 0;
  }
}

.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;

  @media screen and (max-width: $xsmall) {
    padding: 0 15px;
  }
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.centered {
  text-align: center;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

@keyframes rotation {
  to {
    transform: rotate(360deg)
  }
}

// offer - 1 screen

.offer {
  position: relative;
  color: $white;
  height: 100vh;
  min-height: 700px;
  padding: 110px 0 35px 0;

  @media screen and (max-width: $medium) {
    padding-top: 80px;
  }


  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: $xsmall) {
      bottom: 40%;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(30, 31, 34, 1) 50%);
      }
    }
  }

  &__container {
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    height: 100%;
  }

  &__inner {
    max-width: 610px;
    padding-top: 13%;

    @media screen and (max-width: $xsmall) {
      align-self: end;
      padding-bottom: 30%;
      padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__subtitle {
    line-height: 160%;
    @include adaptiv-value('font-size', 16, 13, 1);
    @include adaptiv-value('margin-bottom', 40, 20, 1);
  }

  &__bottom {
    text-align: center;
    align-self: end;

    @media screen and (max-width: $xsmall) {
      display: none;
    }
  }

  &__footnote {
    position: relative;
    max-width: 450px;
    margin: 0 auto;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      left: -25%;
      bottom: 0;
      top: -50%;
      width: 150%;
      height: 150%;
      border-radius: 50%;
      background-color: #00000059;
      filter: blur(15px);
    }
  }
}


.white-on-mob {
  color: $white;

  @media screen and (max-width: $xsmall) {
    background-color: $white;
    color: $dark;
  }
}

.dark-on-mob {
  color: $dark;

  @media screen and (max-width: $xsmall) {
    background-color: $bgr;
    color: $white;
  }
}

.with-popup {
  position: relative;
  z-index: 1;

  &:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    background-image: url("../img/common/icon-zoom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    transition-delay: 0.2s;

    @media screen and (max-width: $medium) {
      opacity: 0.6;
      visibility: visible;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    &:after {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.3s;
      transition-delay: 0.2s;
    }
  }
}

.bold {
  font-weight: 700;
}

.phones {

  &__link {
    display: block;
    position: relative;
    margin-bottom: 1.2em;
    font-size: 20px;
    text-decoration: underline;

    @media screen and (max-width: $small) {
      font-size: 16px;
    }

    @media screen and (max-width: $xsmall) {
      font-size: 14px;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 0.3em;
      background-image: url("../img/common/icon-phone.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      vertical-align: middle;
    }
  }
}

.text p:not(:last-child) {
  margin-bottom: 1em;
}

.white-section {
  background-color: $white;
  color: $dark;
}