.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s;
  color: #fff;

  @media screen and (max-width: $medium) {
    padding: 15px 0;
  }

  &__container {
    display: flex;
    align-items: center;
  }


  &__logo {
    display: none;

    @media screen and (max-width: $medium) {
      flex: 0 0 209px;
      display: block;
    }
  }


  &__menu {
    width: 100%;

    @media screen and (max-width: $medium) {
      justify-content: space-between;
    }

    @media screen and (min-width: $medium + 1) {
      border-bottom: 2px solid rgba($white, 0.1);
    }
  }

  &.scrollable {
    background-color: rgba(0, 0, 0, 0.668);
    backdrop-filter: blur(10px);
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: 16px;

  &__icon {
    display: none;

    @media screen and (max-width: $medium) {
      position: relative;
      display: block;
      z-index: 5;
      margin-left: auto;
      width: 40px;
      height: 20px;
      cursor: pointer;
    }

    & span,
    &::before,
    &::after {
      right: 0;
      position: absolute;
      height: 10%;
      transition: all 0.3s ease 0s;
      background-color: $gold;
    }

    &::before,
    &::after {
      content: "";
    }

    &::before {
      top: 0;
      width: 100%;
    }

    &::after {
      bottom: 0;
      width: 100%;
    }

    & span {
      top: 50%;
      width: 100%;
      transform: scale(1) translate(0px, -50%);
    }

    &._active span {
      width: 100%;
      transform: scale(0) translate(0px, -50%);
    }

    &._active::before {
      width: 100%;
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &._active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  &__list {

    @media screen and (min-width: $medium + 1) {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
      width: 100%;
    }

    &>li {
      position: relative;
      margin: 0 10px;
      white-space: nowrap;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      @media screen and (min-width: $medium + 1) {
        padding: 10px 0;
      }

      @media screen and (max-width: $medium) {
        flex-wrap: wrap;
        margin: 0px 0px 20px 0px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:first-child {
        margin-left: 0;
      }
    }

  }

  &__link {
    position: relative;
    color: #fff;

    @media screen and (max-width: $medium) {
      color: #222;
      opacity: 1;
    }


    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: $gold;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: center left;
      transition: transform 0.4s ease-out, opacity 0.2s ease;
      transform-origin: center;
    }

    &:hover {
      &::before {
        opacity: 1;
        transform: scaleX(1);
      }

    }
  }

  &__arrow {
    display: none;
  }

  &__body {
    margin: 0 auto;
    width: 100%;


    @media screen and (max-width: $medium) {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      max-width: 200px;
      padding: 85px 20px 20px;
      background-color: #fff;
      overflow: auto;
      transform: translateX(100%);
      transition: transform 0.3s;
    }

    @media screen and (max-height: 530px) and (max-width: 576px) {
      background-image: none;
      padding-top: 60px;
    }


    &._active {
      @media screen and (max-width: $medium) {
        transform: translateX(0);
      }
    }
  }

  &__logo {
    @media screen and (max-width: $medium) {
      display: none;
    }
  }


  &__logo-mobile {
    display: none;

    @media screen and (max-width: $medium) {
      display: block;
    }
  }














  // delete
  &__logo-placeholder {
    display: none;

    @media screen and (max-width: $medium) {
      display: flex;
      align-items: center;
      color: $gold;
      text-transform: uppercase;

      img {
        width: 209px;
        height: 44px;
      }
    }
  }
}