// offer - 1 screen

.offer {
  position: relative;
  color: $white;
  height: 100vh;
  min-height: 700px;
  padding: 110px 0 35px 0;

  @media screen and (max-width: $medium) {
    padding-top: 80px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(30, 31, 34, .68) 5.31%, rgba(30, 31, 34, .3) 17.42%, rgba(30, 31, 34, .20) 32.27%, rgba(30, 31, 34, .20) 36.77%, rgba(30, 31, 34, .30) 47.19%, rgba(30, 31, 34, .50) 64.37%, rgba(30, 31, 34, 0) 70.62%);
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: $xsmall) {
      bottom: 40%;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(30, 31, 34, 1) 50%);
      }
    }
  }

  &__container {
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    height: 100%;
  }

  &__inner {
    max-width: 610px;
    padding-top: 13%;

    @media screen and (max-width: $xsmall) {
      align-self: end;
      padding-bottom: 30%;
      padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__subtitle {
    line-height: 160%;
    @include adaptiv-value('font-size', 16, 13, 1);
    @include adaptiv-value('margin-bottom', 40, 20, 1);
  }

  &__bottom {
    text-align: center;
    align-self: end;

    @media screen and (max-width: $xsmall) {
      display: none;
    }
  }

  &__footnote {
    position: relative;
    max-width: 450px;
    margin: 0 auto;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      left: -25%;
      bottom: 0;
      top: -50%;
      width: 150%;
      height: 150%;
      border-radius: 50%;
      background-color: #00000059;
      filter: blur(15px);
    }
  }
}

//features screen

.features {
  @media screen and (max-width: $xsmall) {
    padding: 0;
  }

  &__item {
    // @media screen and (max-width: $medium) {
    //   display: grid;
    // }

    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 100, 80, 1);

      @media screen and (max-width: $small) {
        margin-bottom: 0;
      }
    }

    *:last-child {
      margin-bottom: 0;
    }

    //mobiles 

    @media screen and (max-width: $small) {
      margin: 0 -15px;
      padding: 70px 15px;
    }

  }

}

.feature {
  display: flex;
  align-items: flex-start;
  min-width: 0;
  overflow: hidden;

  @media screen and (max-width: $large) {
    align-items: center;
  }

  @media screen and (max-width: $medium) {
    display: grid;
  }

  &__descr {
    flex: 0 1 47%;
    padding: 30px;

    @media screen and (max-width: $medium) {
      order: -1;
    }

    @media screen and (max-width: $small) {
      padding: 13px;
    }

    @media screen and (max-width: $xsmall) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    line-height: 1.1;
  }

  &__text {
    margin-bottom: 30px;

    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__bottom {
    position: relative;
  }

  &__media {
    width: 53%;
    min-width: 520px;

    @media screen and (max-width: $medium) {
      margin-top: 30px;
      padding: 13px;
      width: 100%;
      min-width: 0;
    }

    @media screen and (max-width: $small) {
      &:nth-of-type(2n+1) {
        padding-right: 0;
      }

      &:nth-of-type(2n) {
        padding-left: 0;
      }
    }

    img {
      display: block;
    }
  }

  &__media-item {
    padding-bottom: 57%;

    .yBox {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__media-item_with-btn {
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;

    .video-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__media-video {
    display: block;
    z-index: 1;

    &:hover {
      .video-btn {
        opacity: 1;
      }
    }
  }


  &__btn-shift {
    @media screen and (max-width: $xsmall) {
      margin: 30px 10% 0 10%;
    }
  }
}

.controls {
  display: flex;

  &__audio {
    display: inline-flex;

    &:before {
      content: "Слушать";
      position: relative;
      right: calc(-100% - 10px);
      color: $white;
      font-weight: 700;
      margin-left: 10px;
      font-size: 14px;
      text-decoration: underline;
      transition: transform 0.2s;
    }

    &.playing {
      &:before {
        transform: scaleY(0);
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    width: 120px;

    @media screen and (max-width: $medium) {
      margin-left: auto;
    }

    @media screen and (max-width: $small) {
      width: 110px;
    }
  }

  &__prev,
  &__next {
    position: static;
    margin: 0;
    width: 48px;
    height: 15px;
    background-image: url("../img/common/arrow.svg");
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;

    &:after {
      display: none;
    }
  }

  &__prev {
    left: auto;
    transform: rotate(180deg);
  }

}

//dream screen

.dream {
  background-color: white;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: $small) {
      display: grid;
    }
  }

  &__icons {
    display: grid;
    flex: 0 0 330px;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    margin-right: 30px;
    gap: 30px;

    @media screen and (max-width: $medium) {
      flex: 0 0 300px;
    }

    @media screen and (max-width: $small) {
      order: 2;
      margin-right: 0;
    }
  }

  &__descr {
    flex: 0 0 540px;

    @media screen and (max-width: $medium) {
      flex-shrink: 1;
    }

    @media screen and (max-width: $small) {
      margin-bottom: 30px;
    }
  }

  &__text {
    p:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.icons {
  &__item {}
}

.icon-dream {
  text-align: center;

  &__img {}

  &__title {
    text-align: center;
    font-weight: 400;
  }
}

//select

.select {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../img/select/select-bg@2x.jpg");

  @media screen and (max-width: $xsmall) {
    background-image: none;
    background: $white;
    padding-bottom: 0;
  }

  // @media (-webkit-min-device-pixel-ratio: 2),
  // (min-resolution: 95dpi) {}

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    @media screen and (max-width: $xsmall) {
      display: none;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
  }

  &__text {
    margin-bottom: 40px;
    text-align: center;

    @media screen and (max-width: $xsmall) {
      color: $dark;
      text-align: center;
      margin: 0 auto 11%;
    }
  }

  &__title {}

  &__subtitle {}

  &__bottoom {
    position: relative;
    z-index: 1;
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 30px;

    @media screen and (max-width: $xsmall) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 10% 30px;
      width: 100%;
      max-width: unset;
      background-image: url("../img/select/select-bg-mob.jpg");
      background-position: center;
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $xsmall) {
      margin: 10px;
    }
  }
}

.webp section.select {
  @media screen and (max-width: $xsmall) {
    background: $white !important;
  }
}

//map


.map {

  &__container {
    position: relative;
  }

  &__title {
    text-align: center;
    @include adaptiv-value('margin-bottom', 80, 30, 1);
  }

  &__inner {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: $medium) {
      flex-direction: column;
    }
  }

  &__wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: -1;
    width: 80%;
    margin-right: -25%;

    @media screen and (max-width: $medium) {
      width: 100%;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @media screen and (max-width: $medium) {
      border: 1px solid red;

    }
  }

  &__actions {
    width: 40%;
    margin-left: auto;

    @media screen and (max-width: $medium) {
      order: -1;
      margin-left: 0;
      width: 100%;
    }

    >p {
      @include adaptiv-value('margin-bottom', 25, 15, 1);
    }
  }

  &__accordion {
    .accordion {
      margin-bottom: 10px;
    }
  }

  &__svg {
    position: relative;

    @media screen and (max-width: $medium) {
      // display: none;
    }
  }

  &__icon {
    transition: opacity 0.6s;
    opacity: 0.6;

    path {
      transition: fill 0.6s;
      fill: #FAFAFA;
    }

    &.active {
      opacity: 1;

      path {
        fill: $gold
      }
    }
  }
}

//credit

.credit {

  &__tabs {}

  &__media {

    @media screen and (max-width: $medium) {
      margin-top: 0;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    display: grid;
    column-gap: 30px;

    @media screen and (min-width: $small + 1) and (max-width: $medium) {
      grid-template-columns: auto 230px;
      grid-template-rows: repeat(2, max-content);
    }
  }

  &__tabtitle {
    @include adaptiv-value('margin-bottom', 30, 20, 1);
  }

  &__tabtext {
    margin-bottom: 30px;
  }

  &__form {
    width: 100%;
    border: 2px dotted green;
    height: 225px;
    max-width: 255px;



    display: grid;
    place-items: center;


    @media screen and (min-width: $small + 1) and (max-width: $medium) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }

    @media screen and (max-width: $small) {
      max-width: 100%;
    }
  }
}