.plan {
  padding: 150px 0 110px;

  &__wrapper {
    position: relative;
  }

  &__svg {
    position: absolute;
    left: 0;
    top: -3px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    path {
      fill: rgba(rgb(68, 67, 67), 0);
      transition: fill 0.2s;

      &:hover {
        fill: rgba(rgb(68, 67, 67), 0.6);
      }
    }
  }
}