// buttons

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 15px;
  font-size: 15px;
  line-height: 1.3;
  min-width: 225px;
  color: $dark;
  transition: all 0.5s;
  cursor: pointer;


  &_primary {
    background-color: $gold;

    &:hover {
      transform: translateY(-5px)
    }

    &:active,
    &:focus {
      background-color: rgba($gold, 0.9);
    }
  }

  &_secondary {
    color: #0BA3D3;
    border: 2px solid #0BA3D3;

    &:hover {
      color: #008BB8;
      border-color: #008BB8;
    }

    &:active,
    &:focus {
      color: #0BA3D3;
      border-color: #0BA3D3;
    }
  }

  span {
    position: relative;
    z-index: 5;
  }

  &_o {
    border: 2px solid transparent;

    &:active,
    &:focus {
      color: #008BB8;
      border-color: #008BB8;
    }

    &:hover {
      color: #0BA3D3;
      border-color: #0BA3D3;
    }
  }
}

.audio-btn,
.video-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: $dark;
  background-color: $gold;
  cursor: pointer;
  transition: bottom 0.5s;

  @media screen and (max-width: $small) {
    width: 50px;
    height: 50px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 0;
    height: 34px;
    border-style: solid;
    border-width: 16px 0 17px 27px;
    border-color: transparent transparent transparent $dark;
    cursor: pointer;
    will-change: border-width;
    transition: all .5s ease;
  }


  &.playing {
    animation-name: rotation;
    animation-duration: 20s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: bottom 0.5s;

    &:after {
      border-style: double;
      border-width: 0px 6px 0px 25px;
    }
  }
}

//


//titles

.main-title {
  font-weight: 700;
  @include adaptiv-value('font-size', 52, 22, 1);
}

.page-title {
  color: $gold;
  @include adaptiv-value('font-size', 36, 20, 1);
  @include adaptiv-value('margin-bottom', 40, 30, 1);
}

//

//decore

.deco {

  &-right,
  &-left {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 65%;
      height: 100%;
      border: 1px solid $gold;
    }
  }

  &-right {
    position: relative;
    padding: 30px 30px 30px 0;

    @media screen and (max-width: $medium) {
      padding: 13px 13px 13px 0;
    }

    &:after {
      right: 0;
      border-left: none;
    }
  }

  &-left {
    position: relative;
    padding: 30px 0 30px 30px;

    @media screen and (max-width: $medium) {
      padding: 13px 0 13px 13px;
    }

    &:after {
      left: 0;
      border-right: none;
    }
  }

}

//