// buttons

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 18px;
  min-width: 225px;
  color: $dark;
  transition: all 0.5s;
  cursor: pointer;


  &_primary {
    background-color: $gold;

    &:hover {
      transform: translateY(-5px)
    }

    &:active,
    &:focus {
      background-color: rgba($gold, 0.9);
    }
  }

  &_secondary {
    color: #0BA3D3;
    border: 2px solid #0BA3D3;

    &:hover {
      color: #008BB8;
      border-color: #008BB8;
    }

    &:active,
    &:focus {
      color: #0BA3D3;
      border-color: #0BA3D3;
    }
  }

  span {
    position: relative;
    z-index: 5;
  }

  &_o {
    border: 2px solid transparent;

    &:active,
    &:focus {
      color: #008BB8;
      border-color: #008BB8;
    }

    &:hover {
      color: #0BA3D3;
      border-color: #0BA3D3;
    }
  }
}

//


//titles

.main-title {
  font-weight: 700;
  @include adaptiv-value('font-size', 52, 22, 1);
}

//