// buttons

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
  min-width: 225px;
  color: $dark;
  transition: box-shadow 0.2s;
  cursor: pointer;

  @media screen and (max-width: $small) {
    padding: 13px 0;
  }


  &_primary {
    background-color: $gold;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 15px #FFBA5F;
    }

    &:active {
      color: $white;
    }
  }

  &_secondary {
    color: $gold;
    border: 1px solid $gold;
    box-sizing: border-box;

    &:hover {}

    &:active,
    &:focus {}
  }

  span {
    position: relative;
    z-index: 5;
  }

  &_o {
    border: 2px solid transparent;

    &:active,
    &:focus {
      color: #008BB8;
      border-color: #008BB8;
    }

    &:hover {
      color: #0BA3D3;
      border-color: #0BA3D3;
    }
  }
}

.audio-btn,
.video-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: $dark;
  background-color: $gold;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;

  @media screen and (max-width: $small) {
    width: 50px;
    height: 50px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 0;
    height: 34px;
    border-style: solid;
    border-width: 16px 0 17px 27px;
    border-color: transparent transparent transparent $dark;
    cursor: pointer;
    will-change: border-width;
    transition: all .5s ease;
  }

  &.playing {
    animation-name: rotation;
    animation-duration: 20s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: bottom 0.5s;

    &:after {
      border-style: double;
      border-width: 0px 6px 0px 25px;
    }
  }

  &:hover {
    opacity: 1;
  }
}

//


//titles

.main-title {
  font-weight: 700;
  @include adaptiv-value('font-size', 52, 22, 1);
}

.page-title {
  color: $gold;
  @include adaptiv-value('font-size', 36, 20, 1);
  @include adaptiv-value('margin-bottom', 40, 30, 1);
}

.title-tertiary {
  color: $gold;
  @include adaptiv-value('font-size', 24, 16, 1);
}

//

//decor

.deco {

  &-right,
  &-left {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 65%;
      height: 100%;
      border: 1px solid $gold;
    }
  }

  &-right {
    position: relative;
    padding: 30px 30px 30px 0;

    @media screen and (max-width: $medium) {
      padding: 13px 13px 13px 0;
    }

    &:after {
      right: 0;
      border-left: none;
    }
  }

  &-left {
    position: relative;
    padding: 30px 0 30px 30px;

    @media screen and (max-width: $medium) {
      padding: 13px 0 13px 13px;
    }

    &:after {
      left: 0;
      border-right: none;
    }
  }

}

// accordion

.accordion {
  &__control {
    display: flex;
    align-items: center;
    min-height: 62px;
    width: 100%;
    padding: 0 17px;
    border: 1px solid $grey;
    font-weight: 400;
    color: $gold;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
  }


  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease-out;
    box-sizing: content-box;
    border: 1px solid $grey;
    border-top: none;
  }

  &__pic {
    margin-right: 10px;
  }

  &__title {
    font-size: 15px;
  }

  &__icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
    background-image: url("../img/common/carette.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out;
  }

  &__inner-list {
    padding: 13px;
  }

  &__inner-item {
    padding-bottom: 11px;
    margin-bottom: 15px;
    border-bottom: 1px solid $grey;
  }

}

.inner-item {

  &__title {
    font-weight: 700;
    font-size: 15px;
    color: $gold;
    margin-bottom: 10px;
  }

  &__distance {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    color: $grey;
  }

  &__descr {
    font-size: 14px;
  }
}

.open .accordion__icon {
  transform: scaleY(-1);
}

.open .accordion__content {
  opacity: 1;
}

//tabs

.tabs {
  position: relative;
  text-align: center;
}

.tabs__list {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  list-style-type: none;
  font-weight: 700;
  @include adaptiv-value('font-size', 36, 22, 1);
  @include adaptiv-value('margin-bottom', 40, 30, 1);
  @include adaptiv-value('padding-bottom', 25, 10, 1);

  &:after,
  &:before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
  }

  &:after {
    width: 80%;
    height: 2px;
    background-color: $grey;
  }

  &_small {
    padding-bottom: 1em;
    @include adaptiv-value('margin-bottom', 22, 20, 1);
    @include adaptiv-value('font-size', 16, 15, 1);
  }

}

.tabs__item:not(:last-child) {
  margin-right: 10px;
}

.tabs__btn {
  border: none;
  cursor: pointer;
  text-align: center;
  color: $grey;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;


}

.tabs__btn_active {
  color: $gold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  pointer-events: none;
}

.tabs__content {
  display: none;
}

.tabs__content_active {
  display: block;
}

.content {
  text-align: left;
}

.content__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-dark);
}

.content__descr {
  margin: 0;
  margin-bottom: 59px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
}

.content__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__link {
  padding: 14px;
  width: 200px;
  height: 120px;
  display: inline-block;
  border-radius: 4px;
  background-color: #ebecf3;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.content__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a2a6c0;
}

.tabs__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: var(--color-accent);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.tabs__arrow svg {
  pointer-events: none;
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}

.tabs__arrow:hover {
  background-color: #fff;
}

.tabs__arrow:hover svg {
  fill: var(--color-accent);
}

.tabs__arrow--next {
  right: -204px;
}

.tabs__arrow--prev {
  left: -204px;
}